.card {
    padding: 1rem;
    transition: all 0.1s ease;
    box-sizing: border-box;
    height: auto;
    max-width: 500px;
}

.card-body {
    box-sizing: border-box;
}

.card:hover {
    -webkit-box-shadow: 0px 0px 11px 6px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 11px 6px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 11px 6px rgba(0, 0, 0, 0.14);
    transform: scale(1.01);
}

label {
    color: gray;
}

h3 i {
    color: gray;
    margin-right: .8rem;
}